header {
  background-color: #2a4b5e;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: white;
  color: #333;
}
  /*nav respons*/
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;

}
@media (max-width:952px){
  label.logo{
      font-size: 30px;
      padding-left: 50px;
  }
  nav ul li a{
      font-size: 16px;
  }
}
@media (max-width:858px) {
  .checkbtn{
      display: block;
  }
  nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left:-100%;
      text-align: center;
      transition: all .5s;

  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  
  #check:checked ~ ul{
      left: 0;
  }

}
/*nav respons*/
  /* body */
  * {
    box-sizing: border-box;
  }
  body {
    
    margin: 0;
    font-family: Arial, sans-serif;
    
  }

  h1 {
    font-size: 36px;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    max-width: 1000px;
}
.card {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.card img {
    border-radius: 50%;
    height: 150px;
    margin-bottom: 20px;
    width: 150px;
}
.card h2 {
    font-size: 24px;
    margin: 0;
}
.card p {
    font-size: 16px;
    margin: 10px 0;
}
.map{
  flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
}
/* footer */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  width: calc(33.33% - 20px);
  margin-right: 20px;
}

.col-md-4:last-child {
  margin-right: 0;
}

footer img {
  max-width: 100%;
  height: auto;
}

footer h3 {
  margin-top: 0;
}