#scroll-to-top-btn {
  font-size: large;
  padding: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  display: none;
  cursor: pointer;
}
header {
  background-color: #2a4b5e;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: white;
  color: #333;
}

/*nav respons*/
.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;

}
@media (max-width:952px){
label.logo{
    font-size: 30px;
    padding-left: 50px;
}
nav ul li a{
    font-size: 16px;
}
}
@media (max-width:858px) {
.checkbtn{
    display: block;
}
nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left:-100%;
    text-align: center;
    transition: all .5s;

}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
    font-size: 20px;
}

#check:checked ~ ul{
    left: 0;
}

}
/*nav respons*/

* {
  box-sizing: border-box;
}
  body {
    
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
}
.contact-info {
    flex-basis: 300px;
    margin-bottom: 20px;
}
.contact-info h2 {
    margin-top: 0;
}
.contact-form {
    flex-basis: 600px;
    
}
form {
    background-color: #f2f2f2;
    padding: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #555;
}
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .contact-info,
    .contact-form {
        flex-basis: 100%;
    }
}

/* footer */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  width: calc(33.33% - 20px);
  margin-right: 20px;
}

.col-md-4:last-child {
  margin-right: 0;
}

footer img {
  max-width: 100%;
  height: auto;
}

footer h3 {
  margin-top: 0;
}