header {
    background-color: #2a4b5e;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo img {
    height: 40px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
  }
  
  nav ul li a:hover {
    background-color: white;
    color: #333;
  }

  
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  /*body*/
.body{
    padding: 10px;
}
  * {
    box-sizing: border-box;
  }
  
  body {
    
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .gallery-item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {
    .gallery-item {
      flex-basis: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .gallery-item {
      flex-basis: 100%;
    }
  }


  /* footer */
footer {
    background-color: #2a4b5e;
    color: #fff;
    padding: 20px;
  }
  
  footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-4 {
    width: calc(33.33% - 20px);
    margin-right: 20px;
  }
  
  .col-md-4:last-child {
    margin-right: 0;
  }
  
  footer img {
    max-width: 100%;
    height: auto;
  }
  
  footer h3 {
    margin-top: 0;
  }